.big {
  font-size: 30px;
}

.font-color {
  color: #0c4a6e;
}

.div-background {
  background-color: #99f6e4;
}

.jm-font {
  font-family: "Jeju Myeongjo", serif; /*웹 폰트 지정*/
  color: orange;
}

.size {
  font-size: 24px;
}

.sdms-font {
  font-family: "SDMiSaeng", sans-serif; /*웹 폰트 지정*/
  color: orange;
}

* {
  font-family: "SDMiSaeng", sans-serif;
}
